body{
    background-color: #fbd1a2;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: #062960;
    font-weight: 100px;
}


h2{
    height: 40px;
    width: 200px;
    color: #fbd1a2;
    border: solid black;
    border-radius: 15px;
    background-color: #062960;
    padding-left: 10px;
}

h2:hover{
    transition: 10ms;
    background-color: #185cc9;
    transform: scale(1.1);
}

h4{
    font-size: 20px;
}

li{
    font-size: 25px;
    list-style-type: none;
}

img{
    border-radius: 10px;
    
}

img:hover{
    border: 6px solid #062960 ;
}

.container{
    height: 50px;
    width: 500px;
    background-color: #062960;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid black;
}

.navEle{
    color: white;
    font-size: 20px;
    align-content: center;
}

.navEle:hover{
    text-decoration: underline;
    transform: scale(1.2);
}