#mainTopic {
    color:blue;
}

*{
    text-align: center;
}

 h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .Paragraph{
    color:white;
    background-color: cornflowerblue;
 }

 div button {
    color: azure;
    background-color: purple;
 }

 button:hover {
    background-color: yellow;
    color: blue;
 }

 p:nth-of-type(1n) {
    color: yellow;
 }

 h1::first-letter{
    color: red;
 }

 input:checked+label {
    color: darkgreen;
 }